<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
  <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
  <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
  <div class="content-wrapper"><!-- content-wrapper Start -->
    <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
    <!--        &lt;!&ndash; Form Header  Path &ndash;&gt;-->
    <!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <!--                                                    <h4>First sud Header</h4>-->
                    <form role="form">
                      <div align="right">
                        <a class="btn btn-success" id="newDistrict" th:href="${'/gazette'}">
                          <i class="far fa-building" style="font-size: 18px;"></i> &nbsp;Gazette List </a>
                        <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                          <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
<div class="card-header">
                    <span
                          data-th-text="${addStatus==true?'New Gazette Add':'Update Gazette Details'}" ></span >
</div>

    <form data-th-action="${addStatus==true?'/gazette/save':'/gazette/update'}"
          data-th-object="${gazette}"
          method="POST" >
        <!--Left Side-->
        <table class="table">
          <tr>
            <th></th>
            <td><input data-th-field="*{id}" data-th-if="${addStatus==false}" hidden type="text" /></td>
          </tr>



          <tr>
            <th><label class="control-label" for="name" >Name :</label ></th>

            <td>
              <input class="form-control" data-th-field="*{name}" id="name" required tabindex="4"
                     type="text" />
              <span class="error" data-th-errors="*{name}"
                    data-th-if="${#fields.hasErrors('name')}" id="nameError" >Error Name</span >
            </td>
          </tr>



          <tr>
            <th>
              <label class="control-label" for="age" >Request Age Maximum :</label >
            </th>


            <td>
              <input class="form-control" data-th-field="*{age}" id="age" required tabindex="4"
                     type="number" min="0" step="1" />
              <span class="error" data-th-errors="*{name}"
                    data-th-if="${#fields.hasErrors('name')}" id="ageE" >Error Name</span >
            </td>
          </tr>



          <tr>
            <th><label class="control-label" >Gazette Status :</label ></th>
                        <td class="custom-control custom-checkbox custom-control-inline "
                data-th-each="gazetteStatus,index : ${gazetteStatuses}">
              <input class="custom-control-input gender" required
                     data-th-name="${'gazetteStatus'}"
                     data-th-value="${gazetteStatus}"
                     data-th-id="${index.index}+${gazetteStatus}"
                     type="radio"
                     data-th-checked="${gazetteStatus==gazetteStatus}" />
              <label class="custom-control-label"
                     data-th-for="${index.index}+${gazetteStatus}"
                     data-th-text="${gazetteStatus.gazetteStatus}" > radio
              </label >
            </td>
          </tr>



          <tr>
            <th><label class="control-label" for="summary">Summary Gazette :</label ></th>



            <td>
              <textarea data-th-field="*{summary}" id="summary" cols="30" rows="10" class="form-control" ></textarea >
            </td>
          </tr>



          <tr>
            <th></th>
            <td><button class="btn btn-success" tabindex="21" type="submit" >
              <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit" ></span >
            </button >
              <button class="btn btn-danger" tabindex="21" type="clear" >
                <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span
                      data-th-text="${addStatus==true?'Clear': 'Reset'}"
                      id="submit" ></span >
              </button ></td>
          </tr>

        </table>
        <div class="form-group" >
                  <div class="form-row" >
          <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '"
                 id="errorLabel" >Errors: </label >
          <ul >
            <li class="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}"
                id="error" ></li >
          </ul >
        </div >
      </div >
    </form >
  </div >
</div >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
              </div><!-- content-wrapper end -->
              <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
            </div><!-- wrapper end -->
            <div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>