<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
<!--        &lt;!&ndash; Form Header  Path &ndash;&gt;-->
<!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
<!--                                        <h4>First sud Header</h4>-->
                                        <form role="form">
                                            <div align="right">
                                                <a class="btn btn-success" id="newDistrict" th:href="${'/agOffice'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; AG Office View </a>
                                                <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Add AG Office</h4>
                                        <form th:action="${addStatus==false?'/agOffice/save' :'/agOffice/update'}"
                                              method="post" th:object="${agOffice}">
                                            <!--/* id this comment not visualize */-->
                                            <!--Id-->
                                            <div class="form-group  col-md-9" th:if="${addStatus==true}">
                                                <label for="id" class="form-label col-md-3 "> Id </label>

                                                <input type="text" class="form-control" th:field="*{id}" id="id"
                                                       readonly>

                                            </div>
                                            <!--Province-->
                                            <div class=" form-row p-3">
                                                <label th:for="${'province'}" class="form-label col-md-3 " > Province </label>
                                                <select class="form-control  col-md-9" id="province"
                                                        th:if="${not #lists.isEmpty(districts)}"
                                                        th:value="${agOffice.district.province}">
                                                    <option value="" disabled>Please Select</option>
                                                    <option th:each="province : ${provinces}"
                                                            th:text="${province.province}"
                                                            th:value="${province}"
                                                    ></option>
                                                </select>
                                                <select class="form-control  col-md-9" id="province"
                                                        th:if="${ #lists.isEmpty(districts)}">
                                                    <option value="" >Please Select</option>
                                                    <option th:each="province : ${provinces}"
                                                            th:text="${province.province}"
                                                            th:value="${province}"
                                                    ></option>
                                                </select>
                                            </div>
                                            <!--District-->
                                            <div class=" form-row p-3">
                                                <label th:for="${'district'}" class="form-label col-md-3"  > District </label>

                                                <select class="form-control  col-md-9" th:field="*{district}">
                                                    <option value="">Please Select</option>
                                                    <option th:each="district : ${districts}"
                                                            th:text="${district.name}"
                                                            th:value="${district.id}"
                                                    ></option>

                                                </select>
                                                <p class="text-danger" th:if="${#fields.hasErrors('district')}"
                                                   th:errors="*{district}">Error Name</p>


                                            </div>
                                            <!--AgOffice name-->
                                            <div class=" form-row p-3">
                                                <label th:for="${'name'}" class="form-label col-md-3" > Name </label>

                                                <input type="text" class="form-control  col-md-9" th:field="*{name}">
                                                <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                                   th:errors="*{name}">Error Name</p>

                                            </div>

                                            <!--Land Number-->
                                            <div class=" form-row p-3">

                                                <label class="control-label col-md-3 " for="land">Land No :</label>

                                                <input id="land" th:field="*{land}" class="form-control  col-md-9 land"
                                                       type="text" tabindex="15"
                                                       maxlength="10"
                                                       min="9"/>
                                                <span class="error" th:errors="*{land}"
                                                      th:if="${#fields.hasErrors('land')}" id="landError">Error Land Number</span>

                                            </div>
                                            <!--Email-->
                                            <div class=" form-row p-3">

                                                <label class="control-label col-md-3 " for="email">Email :</label>

                                                <input id="email" th:field="*{email}" class="form-control  col-md-9"
                                                       tabindex="16" type="email"
                                                       required/>
                                                <span class="error" th:errors="*{email}"
                                                      th:if="${#fields.hasErrors('email')}"
                                                      id="emailError">Error Email</span>

                                            </div>
                                            <!--Address-->
                                            <div class="form-row p-3">

                                                <label class="control-label col-md-3 " for="address">Address :</label>

                                                <textarea id="address" th:field="*{address}"
                                                          class="form-control  col-md-9" tabindex="12"
                                                          required></textarea>
                                                <span class="error" th:errors="*{address}"
                                                      th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>

                                            </div>
                                            <div align="right">
                                                <button class="btn btn-warning mr-5 darkmode--activated" tabindex="65" type="reset">
                                                    Clear
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                                    <span
                                                            th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
<script>
    $('#province').bind("change", function () {
        optionFieldAdd(this.value);
    });

    let optionFieldAdd = (value) => {
        let url = "[[${districtURL}]]" + value;
        let html = "";
        $.get(url, function (data) {
            data.forEach((item) => {
                    html += `<option value="${item.id}">${item.name} </option>`
                }
            )
            $("#district").html(html);
        });
    }

</script>


</body>
</html>