<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <a class="btn btn-success" id="newAgOffice" data-th-href="${'/agOffice/add'}">
                                                <i class="fas fa-hotel" style="font-size: 18px;"></i> &nbsp; Add
                                                AgOffice </a>


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <!--if not empty list-->
                                        <div class="container-fluid" id="agOfficeListTable"
                                             data-th-if="${not #lists.isEmpty(agOffices)}">
                                            <table class="table table-hover table-striped" id="myTable">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Index</th>
                                                    <th>Name</th>
                                                    <th>Phone No</th>
                                                    <th>AgOffice</th>
                                                    <th>Modify</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-th-each="agOffice, rowCount : ${agOffices}" scope="row">
                                                    <th data-th-text="${rowCount.count}"></th>
                                                    <th data-th-text="${agOffice.name}"></th>
                                                    <th data-th-text="${agOffice.land}"></th>
                                                    <th data-th-text="${agOffice.district.name}"></th>

                                                    <th><a class="btn btn-success btn-sm"
                                                           data-th-href="${'/agOffice/' + agOffice.id}" id="agOfficeView"><i
                                                            class="fa fa-folder-open"></i>&nbsp;View</a>
                                                        <a class="btn btn-primary btn-sm" id="agOfficeEdit"
                                                           data-th-href="${'/agOffice/edit/' + agOffice.id}"><i
                                                                class="fa fa-edit"></i>&nbsp;Edit</a>
                                                        <a class="btn btn-danger btn-sm" id="agOfficeRemove"
                                                           data-th-href="${'/agOffice/remove/' + agOffice.id}"
                                                           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                           data-th-onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                                        ><i
                                                                aria-hidden="true" class="fa fa-trash"></i>
                                                            Delete</a>

                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--if empty list-->
                                        <div class="row" id="agOfficeNotList" data-th-if="${ #lists.isEmpty(agOffices)}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-warning alert-dismissible fade show"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h3 class="text-center text-danger">
                                                        <strong>There is no agOffice upto know please add agOffice to
                                                            the system
                                                            using add agOffice button.
                                                        </strong>
                                                    </h3>
                                                </div>
                                            </div>
                                            <script>
                                                /*active boostrap alert - start*/
                                                $(".alert").alert();
                                                /*active boostrap alert - end*/
                                            </script>
                                        </div>
                                        <!--Show saved agOffice-->
                                        <div class="row" data-th-if="${agOfficeDetail!=null}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success alert-dismissible fade show"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="container">
                                                        <div data-th-replace="~{agOffice/agOffice-detail :: agOfficeDetail}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                /*active boostrap alert - start*/
                                                $(".alert").alert();
                                                /*active boostrap alert - end*/
                                            </script>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end --></div><!-- wrapper end -->
<footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->

<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>