<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid ">
    <div class="row text-center ">

        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                 Applied  Gazette Detail
                </strong>
            </h4>
        </div>
        <div class="col">
<!--todo-->
        </div>
    </div>
</div>
<div class="container-fluid   text-center">
 applicant gazette detail
</div>
<!--footer include-->
 <div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
