<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <span id="formHeader"
                                                  th:text="${addStatus==false?'New PoliceStation':'Update PoliceStation'}"></span>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <form th:action="${addStatus==false?'/policeStation/save' :'/policeStation/update'}"
                                              method="post" th:object="${policeStation}">
                                            <!--/* id this comment not visualize */-->
                                            <!--Id-->
                                            <div class="form-group " th:if="${addStatus==true}">
                                                <label for="id" class="form-label "> Id </label>

                                                <input type="text" class="form-control" th:field="*{id}" id="id"
                                                       readonly>

                                            </div>
                                            <!--Province-->
                                            <div class="form-group ">
                                                <label th:for="province" class="form-label "> Province </label>

                                                <select class="form-control" id="province">
                                                    <option value="" d>Please Select</option>
                                                    <option th:each="province : ${provinces}"
                                                            th:text="${province.province}"
                                                            th:value="${province}"></option>
                                                </select>
                                            </div>
                                            <!--District-->
                                            <div class="form-group ">
                                                <label for="district" class="form-label "> District </label>

                                                <select class="form-control" id="district">
                                                    <option value="">Please Select</option>
                                                </select>
                                            </div>
                                            <!--AgOffice-->
                                            <div class="form-group ">
                                                <label th:for="${'agOffice'}" class="form-label "> Ag Office </label>

                                                <select class="form-control" th:field="*{agOffice}">
                                                    <option value="">Please Select</option>
                                                </select>
                                            </div>
                                            <!--PoliceStation name-->
                                            <div class="form-group ">
                                                <label th:for="${'name'}" class="form-label "> Name </label>

                                                <input type="text" class="form-control" th:field="*{name}">
                                                <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                                   th:errors="*{name}">Error Name</p>

                                            </div>

                                            <!--Land Number-->
                                            <div class="form-group">

                                                <label class="control-label" for="land">Land No :</label>

                                                <input id="land" th:field="*{land}" class="form-control land"
                                                       type="text" tabindex="15"
                                                       maxlength="10"
                                                       min="9"/>
                                                <span class="error" th:errors="*{land}"
                                                      th:if="${#fields.hasErrors('land')}" id="landError">Error Land Number</span>

                                            </div>
                                            <!--Email-->
                                            <div class="form-group">

                                                <label class="control-label" for="email">Email :</label>

                                                <input id="email" th:field="*{email}" class="form-control"
                                                       tabindex="16" type="email"
                                                       required/>
                                                <span class="error" th:errors="*{email}"
                                                      th:if="${#fields.hasErrors('email')}"
                                                      id="emailError">Error Email</span>

                                            </div>
                                            <!--Address-->
                                            <div class="form-group">

                                                <label class="control-label" for="address">Address :</label>

                                                <textarea id="address" th:field="*{address}"
                                                          class="form-control" tabindex="12"
                                                          required></textarea>
                                                <span class="error" th:errors="*{address}"
                                                      th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>

                                            </div>
                                            <div class="form-group row">
                                                <button type="submit" class="btn btn-primary">
                                                    <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                                    <span
                                                            th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
<script>

    $('#province').bind("change", function () {
        let url = "[[${districtURL}]]" + this.value;
        optionFieldAdd(url, "district");
       let agOffice =  $('#agOffice').val();
        if (agOffice !== null && agOffice !== undefined) {
            $('#agOffice').html(`<option value="">Please Select </option>`);
        }
    });

    $('#district').bind("change", function () {
        let url = "[[${agOfficeURL}]]" + this.value;
        optionFieldAdd(url, "agOffice");

    });

    let optionFieldAdd = (url, id) => {
        let html = "<option value=\"\">Please Select</option>";
        $.get(url, function (data) {
            data.forEach((item) => {
                    html += `
                                <option value="${item.id}">${item.name} </option>`
                }
            )
            console.log(id + "  id");
            $(`#${id}`).html(html);
        });
    }
    $(document).ready(function () {
        let province = $("#district").val();
        let district = $("#agOffice").val();
        if (province !== null && province !== undefined) {
            $('#province').val(province);
        }
        if (district !== null && district !== undefined) {
            $('#district').val(district);
        }

    });
</script>
</body>
</html>