<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <span id="formHeader"
                                                  data-th-text="${addStatus==false?'New PoliceStation':'Update PoliceStation'}"></span>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <form data-th-action="${addStatus==false?'/policeStation/save' :'/policeStation/update'}"
                                              method="post" data-th-object="${policeStation}">
                                            <!--/* id this comment not visualize */-->
                                            <!--Id-->
                                            <div class="form-group " data-th-if="${addStatus==true}">
                                                <label for="id" class="form-label "> Id </label>

                                                <input type="text" class="form-control" data-th-field="*{id}" id="id"
                                                       readonly>

                                            </div>
                                            <!--Province-->
                                            <div class=" form-group">
                                                <label class="form-label  col-md-3" data-th-for="province"> Province </label>

                                                <select class="form-control col-md-7" id="province"
                                                        data-th-field="${policeStation.agOffice.district.province}">
                                                    <option value="">Please Select</option>
                                                    <option data-th-each="province : ${provinces}"
                                                            data-th-text="${province.province}"
                                                            data-th-value="${province}"
                                                    ></option>
                                                </select>
                                            </div>
                                            <!--District-->
                                            <div class=" form-group">
                                                <label class="form-label col-md-3 " for="district">
                                                    District </label>
                                                <select class="form-control col-md-7" id="district"
                                                        data-th-field="${policeStation.agOffice.district}">
                                                    <option value="">Please Select</option>
                                                    <option data-th-each="district : ${districts}"
                                                            data-th-text="${district.name}"
                                                            data-th-value="${district.id}"
                                                    ></option>
                                                </select>
                                            </div>
                                            <!--AgOffice-->
                                            <div class=" form-group">
                                                <label class="form-label col-md-3 " data-th-for="${'agOffice'}"> Ag
                                                    Office </label>

                                                <select class="form-control col-md-7" id="agOffice"
                                                        data-th-field="${policeStation.agOffice}">
                                                    <option value="">Please Select</option>
                                                    <option data-th-each="agOffice : ${agOffices}"
                                                            data-th-text="${agOffice.name}"
                                                            data-th-value="${agOffice.id}"
                                                    ></option>
                                                </select>
                                            </div>
                                            <!--PoliceStation name-->
                                            <div class="form-group">
                                                <label data-th-for="${'name'}" class="form-label "> Name </label>

                                                <input type="text" class="form-control" data-th-field="*{name}">
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('name')}"
                                                   data-th-errors="*{name}">Error Name</p>

                                            </div>
                                            <!--Land Number-->
                                            <div class="form-group">

                                                <label class="control-label" for="land">Land No :</label>

                                                <input id="land" data-th-field="*{land}" class="form-control land"
                                                       type="text" tabindex="15"
                                                       maxlength="10"
                                                       min="9"/>
                                                <span class="error" data-th-errors="*{land}"
                                                      data-th-if="${#fields.hasErrors('land')}" id="landError">Error Land Number</span>

                                            </div>
                                            <!--Email-->
                                            <div class="form-group">

                                                <label class="control-label" for="email">Email :</label>

                                                <input id="email" data-th-field="*{email}" class="form-control"
                                                       tabindex="16" type="email"
                                                       required/>
                                                <span class="error" data-th-errors="*{email}"
                                                      data-th-if="${#fields.hasErrors('email')}"
                                                      id="emailError">Error Email</span>

                                            </div>
                                            <!--Address-->
                                            <div class="form-group">

                                                <label class="control-label" for="address">Address :</label>

                                                <textarea id="address" data-th-field="*{address}"
                                                          class="form-control" tabindex="12"
                                                          required></textarea>
                                                <span class="error" data-th-errors="*{address}"
                                                      data-th-if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>

                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">
                                                    <i data-th-class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                                    <span
                                                            data-th-text="${addStatus==false?'Save' : 'Update'}"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
<script>

    $('#province').bind("change", function () {
        let url = "[[${districtURL}]]" + this.value;
        optionFieldAdd(url, "district");
       let agOffice =  $('#agOffice').val();
        if (agOffice !== null && agOffice !== undefined) {
            $('#agOffice').html(`<option value="">Please Select </option>`);
        }
    });

    $('#district').bind("change", function () {
        let url = "[[${agOfficeURL}]]" + this.value;
        optionFieldAdd(url, "agOffice");

    });

    let optionFieldAdd = (url, id) => {
        let html = "<option value=\"\">Please Select</option>";
        $.get(url, function (data) {
            data.forEach((item) => {
                    html += `
                                <option value="${item.id}">${item.name} </option>`
                }
            )
            console.log(id + "  id");
            $(`#${id}`).html(html);
        });
    }

</script>
</body>
</html>