<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- Form Header  Path -->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <div align="right" data-th-fragment="applicantDetailsFragment"
                         class="container-fluid formBorder" >

                      <form role="form" >
                        <!--                                                <p data-th-text="${applicantDetail.title.title} +${' '} +${applicantDetail.name}"></p>-->
                        <a href="/applicant" class="btn btn-primary" >
                          <i class="fa fa-list" ></i >&nbsp; View List
                        </a >
                        <a href="/home" >
                          <button class="btn btn-success" type="button" tabindex="10" >
                            <i class="fa fa-backward " style="font-size: 20px" ></i >&nbsp;
                                                                                     Home
                          </button >
                        </a >

                      </form >
                    </div >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >


    <div class="content-header" data-th-fragment="applicantDetailsFragment" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="card" >
              <div class="card-body" >
                <h4 >Applicant Details</h4 >
                <div class="row" >

                  <div class="col-md-6" >


                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Full Name:</label >
                      <div class="form-control  col-md-9" id="nameInFullName"
                           data-th-text="${applicantDetail.nameInFullName}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label  col-md-3" for="nameWithInitial" >Name with
                                                                                    Initial :</label >
                      <div class="form-control  col-md-9" id="nameWithInitial"
                           data-th-text="${applicantDetail.nameWithInitial}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >NIC No:</label >
                      <div class="form-control  col-md-9" id="nic"
                           data-th-text="${applicantDetail.nic}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Mobile:</label >
                      <div class="form-control  col-md-9" id="mobile"
                           data-th-text="${applicantDetail.mobile}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Land:</label >
                      <div class="form-control  col-md-9" id="land"
                           data-th-text="${applicantDetail.land}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Email:</label >
                      <div class="form-control  col-md-9" id="email"
                           data-th-text="${applicantDetail.email}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Address:</label >
                      <div class="form-control  col-md-9" id="address"
                           data-th-text="${applicantDetail.address}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Gender:</label >
                      <div class="form-control  col-md-9" id="gender"
                           data-th-text="${applicantDetail.gender}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Civil Status:</label >
                      <div class="form-control  col-md-9" id="civilStatus"
                           data-th-text="${applicantDetail.civilStatus}" ></div >
                    </div >
                  </div >
                  <!--image-->
                  <div class="col-md-6" >
                    <div >
                      <div class="col-md-3 ml-5" >
                        <!--photo details-->
                        <img class="img-fluid ml-5" data-th-src="${files.url}" id="image" alt=""
                             style="height: 100px;" >
                      </div >
                    </div >

                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Nationality:</label >
                      <div class="form-control  col-md-9" id="nationality"
                           data-th-text="${applicantDetail.nationality}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Date of Birth</label >
                      <div class="form-control  col-md-9" id="dateOfBirth"
                           data-th-text="${applicantDetail.dateOfBirth}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Age</label >
                      <div class="form-control  col-md-9"
                           data-th-text="${age}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Grama Niladhari:</label >
                      <div class="form-control  col-md-9" id="gramaNiladhari"
                           data-th-text="${applicantDetail.gramaNiladhari.name}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3 " for="id" >Updated At :</label >
                      <div class="form-control  col-md-9" id="id"
                           data-th-text="${{applicantDetail.createdAt}}" ></div >
                    </div >
                    <div class=" form-row p-3" >

                      <label class="control-label  col-md-3" for="updatedAt" >Updated At :</label >

                      <div class="form-control  col-md-9" id="updatedAt"
                           data-th-text="${{applicantDetail.updatedAt}}"
                      >
                      </div >

                    </div >

                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Height:</label >
                      <div class="form-control  col-md-9" id="height"
                           data-th-text="${applicantDetail.height}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Weight:</label >
                      <div class="form-control  col-md-9" id="weight"
                           data-th-text="${applicantDetail.weight}" ></div >
                    </div >
                    <div class=" form-row p-3" >
                      <label class="control-label col-md-3" for="id" >Chest:</label >
                      <div class="form-control  col-md-9" id="chest"
                           data-th-text="${applicantDetail.chest}" ></div >
                    </div >

                  </div >
                  <!--applicant education-->
                  <div class="form-row container-fluid border-right" >
                    <div class="form-group form-row col-12 pt-5 flex-column" >
                      <p class="font-weight-bold font-italic ml-5 border-bottom p-3 darkmode--activated" >
                        Educational
                        Details</p >
                    </div >
                    <!--/* Left Side - O/L */-->
                    <div class="form-group form-row col-12 pt-5 border" >
                      <div class="form-row form-group" >
                        <p class="font-weight-bold font-italic ml-5 border-bottom p-3 darkmode--activated" >
                          Ordinary Level Exam</p >
                      </div >
                      <div class="form-row container-fluid" >
                        <!--/*When edit result display*/-->
                        <div class="container-fluid " >
                          <table class="table table-striped table-inverse" >
                            <thead class="thead-inverse" >
                            <tr >
                              <th >Subject</th >
                              <th >Result</th >
                              <th >Year</th >
                              <th >Index Number</th >
                              <th >Attempt</th >
                            </tr >
                            </thead >
                            <!--/* when O/L result update state */-->
                            <tbody >
                            <tr data-th-each="studentResult, index : ${applicantDetail.applicantResults}"
                                data-th-if="${#strings.equals(studentResult.streamLevel,'OL')} and ${studentResult.subjectResult != null} and ${studentResult.attempt != null}" >
                              <td data-th-text="${studentResult.subjectName}" >
                              </td >
                              <td data-th-text="${studentResult.subjectResult.subjectResult}" >
                              </td >
                              <td data-th-text="${studentResult.year}" >
                              </td >
                              <td data-th-text="${studentResult.indexNumber}" >
                              </td >
                              <td data-th-text="${studentResult.attempt.attempt}" >
                              </td >
                            </tr >
                            </tbody >
                          </table >
                        </div >
                      </div >
                    </div >
                    <!--/* Right Side - A/L */-->
                    <div class="form-group form-row col-12 pt-5 border" >
                      <div class="form-row form-group" >
                        <p class="font-weight-bold font-italic ml-5 border-bottom p-3 darkmode--activated" >
                          Advance
                          Level Exam</p >
                      </div >
                      <div class="form-row container-fluid" >
                        <!--/*When edit result display*/-->
                        <div class="container-fluid table-responsive" >
                          <table class="table table-striped table-inverse" >
                            <thead class="thead-inverse" >
                            <tr >
                              <th >Subject</th >
                              <th >Result</th >
                              <th >Year</th >
                              <th >Index Number</th >
                            </tr >
                            </thead >
                            <!--/*when A/L result update state*/-->
                            <tbody >
                            <tr data-th-each="studentResult, index : ${applicantDetail.applicantResults}"
                                data-th-if="${#strings.equals(studentResult.streamLevel,'AL')} and ( ${studentResult.subjectResult != null} or ${studentResult.mark != null})" >
                              <td data-th-text="${studentResult.subjectName}" ></td >
                              <td data-th-if="${studentResult.mark== null}" ><span
                                    data-th-text="${studentResult.subjectResult.subjectResult}" >                             </span >
                              </td >
                              <td data-th-if="${studentResult.mark != null}" ><span
                                    data-th-text="${studentResult.mark}" ></span >
                              </td >
                              <td data-th-text="${studentResult.year}" ></td >
                              <td data-th-text="${studentResult.indexNumber}" ></td >
                            </tr >
                            </tbody >
                          </table >
                        </div >
                      </div >
                    </div >
                    <div class="form-group form-row col-12 pt-3 flex-column" >
                      <table class="table table-striped table-inverse table-responsive"
                             id="degreeTable" >
                        <thead class="thead-inverse" >
                        <tr >
                          <th >Degree Name</th >
                          <th >University Or Institute</th >
                          <th >Year</th >
                        </tr >
                        </thead >
                        <tbody >
                        <tr data-th-each="applicantDegreeResult, index : ${applicantDetail.applicantDegreeResults}"
                            data-th-if="${applicantDegreeResult.degreeName !=null}" >
                          <td data-th-text="${applicantDegreeResult.degreeName}" ></td >
                          <td data-th-text="${applicantDegreeResult.universityName}" ></td >
                          <td data-th-text="${applicantDegreeResult.year}" ></td >
                        </tr >
                        </tbody >
                      </table >
                    </div >
                  </div >

                  <!--non relative-->
                  <div class="form-row container-fluid" >
                    <div class="container-fluid" >
                      <h3 >No Relatives</h3 >
                    </div ><!--non relative one-->
                    <div class="form-group col-md-6 col-sm-6 text-left flex-column"
                         data-th-each="applicantNonRelative, index : ${applicantDetail.applicantNonRelatives}" >
                      <!-- Name-->
                      <div class="form-group" >
                        <label class="control-label" >Name :</label >

                        <input class="form-control"
                               data-th-value="${applicantNonRelative.name}"
                               type="text" readonly />
                      </div >
                      <!--Address-->
                      <div class="form-group" >
                        <label class="control-label" for="address" >Address :</label >
                        <textarea class="form-control text-black"
                                  data-th-utext="${applicantNonRelative.address}" rows="4" readonly >
                            </textarea >
                      </div >
                      <!--Mobile Number-->
                      <div class="form-group" >
                        <label class="control-label" for="mobile" >Mobile No
                                                                   :</label >
                        <input class="form-control mobile"
                               maxlength="10" min="9"
                               required
                               tabindex="13" data-th-value="${applicantNonRelative.mobile}" readonly
                               type="text" />
                      </div >
                      <!--Land No-->
                      <div class="form-group" >
                        <label class="control-label" for="land" >Land No
                                                                 :</label >
                        <input class="form-control land"
                               maxlength="10" min="9" tabindex="5" data-th-value="${applicantNonRelative.land}" readonly
                               type="text" />
                      </div >
                    </div >
                  </div >
                  <!--applicant gazette -->

                  <div class="form-row container-fluid border-right" >
                    <div class="form-group form-row col-12 pt-5 flex-column" >
                      <p class="font-weight-bold font-italic ml-5 border-bottom p-3 darkmode--activated" >
                        Applied Gazette Details</p >
                    </div >
                    <div class="form-row container-fluid" >
                      <!--/*Applied Gazette*/-->
                      <div class="container-fluid " >
                        <table class="table table-striped table-inverse" >
                          <thead class="thead-inverse" >
                          <tr >
                            <th >Index</th >
                            <th >Gazette Name</th >
                            <th >Summary Of Gazette</th >
                            <th >Applied Rank</th >
                            <th >Current Status</th >
                            <th data-sec-authorize="not hasRole('ROLE_APPLICANT')" >
                              <span data-th-if="${addStatus==false}" > Action</span >
                            </th >
                          </tr >
                          </thead >
                          <tbody >
                          <tr data-th-each="applicantGazette, index : ${applicantDetail.applicantGazettes}" >
                            <td data-th-text="${index.count}" ></td >
                            <td data-th-text="${applicantGazette.gazette.name}" ></td >
                            <td data-th-value="${applicantGazette.gazette.summary}" ></td >
                            <td data-th-text="${applicantGazette.applyingRank.applyingRank}" ></td >
                            <td data-th-text="${applicantGazette.applicantGazetteStatus.applicantGazetteStatus}" ></td >
                            <td data-sec-authorize="not hasRole('ROLE_APPLICANT')" >
                              <div class="row" >
                                <a data-th-if="${addStatus==false}"
                                   data-th-href="${'/applicantGazette/approve/' + applicantGazette.id}"
                                   class="btn btn-success btn-sm" ><i
                                      class="fa fa-edit" ></i >&nbsp;Approved</a >
                                <a data-th-if="${addStatus==false}"
                                   data-th-href="${'/applicantGazette/reject/' + applicantGazette.id}"
                                   class="btn btn-danger btn-sm ml-1" ><i
                                      class="fa fa-edit" ></i >&nbsp;Reject</a >
                              </div >
                            </td >
                          </tr >
                          </tbody >
                        </table >
                      </div >
                    </div >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >

  </div >
</div >
<!-- content-wrapper end -->
<footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></footer >
<!-- footer Section --><!-- wrapper end -->
<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></script >
<!-- script Fragment -->
</body >
</html >
