<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">

                    <div class="card">
                        <h5 class="card-header">
                            Ordinary Level
                        </h5>

                        <div class="card-body">
                            <p class="card-text">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="control-label" for="year">Year</label>
                                        <div>
                                            <input id="year" name="year" type="text" placeholder="Type Year"
                                                   class="form-control input-md" required="">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class=" control-label" for="indexnumber">Index Number</label>
                                        <div>
                                            <input id="indexnumber" name="indexnumber" type="text"
                                                   placeholder="Index No here" class="form-control input-md"
                                                   required="">

                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label for="subject" class="control-label">Select Subject</label>
                                        <div>
                                            <select class="form-control" id="subject">
                                                <option th:each="sub : ${subject}"
                                                        th:text="${sub.name}"
                                                        th:value="${sub.id}">

                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="result" class="control-label">Select Result</label>
                                        <div>
                                            <select class="form-control" id="result">
                                                <option th:each="result : ${results}"
                                                        th:text="${result.result}"
                                                        th:value="${result}">

                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                    <!-- Button -->
                                    <div class="form-group">

                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add
                                        </button>

                                    </div>

                                </fieldset>
                            </form>


                            </p>
                        </div>
                        <!-- <div class="card-footer">
                            Card footer
                        </div> -->
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="card">
                        <h5 class="card-header">
                            O/L Result View
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                            <table class="table table-striped table-light">
                                <thead>
                                <tr>
                                    <th>
                                        S/No
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th>
                                        Index No
                                    </th>
                                    <th>
                                        Subject
                                    </th>
                                    <th>
                                        Result
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        2011
                                    </td>
                                    <td>
                                        22222
                                    </td>
                                    <td>
                                        sinhala
                                    </td>
                                    <td>
                                        A
                                    </td>
                                    <td>
                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Edit
                                        </button>
                                        <button id="singlebutton" name="singlebutton" class="btn btn-danger">Delete
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>


                            </p>
                        </div>
                        <!-- <div class="card-footer">
                            Card footer
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
        <div>
            <hr style="height: 15px">
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <h5 class="card-header">
                            Advanced Level
                        </h5>

                        <div class="card-body">
                            <p class="card-text">
                            <form class="form-horizontal"
                                  th:action="${addStatus==false?'/applicantResult/save' :'/applicantResult/update'}"
                                  method="post" th:object="${applicantResult}">
                                <fieldset>


                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label for="yearOne" class="control-label">Year</label>
                                        <div>
                                            <input id="yearOne" type="text" placeholder="Type Year"
                                                   class="form-control input-md" required="">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label for="indexNumber" class=" control-label">Index Number</label>
                                        <div>
                                            <input id="indexNumber" type="text" placeholder="Index No here"
                                                   class="form-control input-md" required="">

                                        </div>
                                    </div>


                                    <!-- Button -->
                                    <div class="form-group">

                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add
                                        </button>

                                    </div>

                                </fieldset>
                            </form>


                            </p>
                        </div>
                        <!-- <div class="card-footer">
                            Card footer
                        </div> -->
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="card">
                        <h5 class="card-header">
                            A/L Result View
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                            <table class="table table-striped table-light">
                                <thead>
                                <tr>
                                    <th>
                                        S/No
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th>
                                        Index No
                                    </th>
                                    <th>
                                        Subject
                                    </th>
                                    <th>
                                        Result
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        2011
                                    </td>
                                    <td>
                                        22222
                                    </td>
                                    <td>
                                        sinhala
                                    </td>
                                    <td>
                                        A
                                    </td>
                                    <td>
                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Edit
                                        </button>
                                        <button id="singlebutton" name="singlebutton" class="btn btn-danger">Delete
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>


                            </p>
                        </div>
                        <!-- <div class="card-footer">
                            Card footer
                        </div> -->
                    </div>

                </div>
            </div>
        </div>


    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>