<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="limiter">
                                            <div class="container-login100">
                                                <div class="login100-more"
                                                     style="background-image: url('../img/newpolice.jpeg');"></div>

                                                <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                                                    <form class="login100-form validate-form" action="/register"
                                                          method="post">
					<span class="login100-form-title p-b-59">
						SIGN IN<br/>
					</span>
                                                        <br/>
                                                        <input type="text" name="newOrOld" th:value="${newOrOld}" hidden
                                                               required>
                                                        <div class="wrap-input100 validate-input"
                                                             data-validate="Email is required">
                                                            <span class="label-input100">Email</span>
                                                            <input class="input100" type="email" name="email"
                                                                   th:placeholder="${newOrOld=='new'?'Type your Email Here':'Please enter your registered user name '}"
                                                                   required>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="row container"
                                                             style="margin-top:-30px; margin-bottom: 25px;">
                                                            <br/>
                                                            <span style="color: red" th:text="${message}"></span>
                                                        </div>
<br/>
                                                        <div class="container-login100-form-btn">
                                                            <div class="wrap-login100-form-btn">
                                                                <div class="login100-form-bgbtn "></div>
                                                                <button class="login100-form-btn" data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal" type="submit">
                                                                    Submitt
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </form>

                                                </div>

                                            </div>
                                        </div>

                                        <!--  ###########################################################################-->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Send code to your Email</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p th:text="${successMessage}"></p>

                                                        <a href="/home">
                                                            <button class="btn btn-primary">Login</button>
                                                        </a>
                                                        <!--footer is included-->
                                                    </div><!-- content-wrapper end -->


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  ###########################################################################-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--footer is included-->
        </div><!-- content-wrapper end -->
        <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
    </div><!-- wrapper end -->
    <div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>