<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="background-image: url('./img/1.jpg')">
<style>
    .checkbox-round {
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }

    .checkbox-round:checked {
        background-color: #2b4c80;
    }
</style>
<div class="">
<div class="card" style="padding:100px; opacity: 0.8; background-color: #0c5460; width: 800px; height: 400px; margin: auto; margin-top: 80px; border: #0B0A29; border-radius: 20px">
    <div class="card-body">
        <form class="login100-form validate-form" action="/register"
              method="post">
					<h1 style="color: #ffffff;text-align: center">
						SIGN IN<br/>
					</h1>
            <br/> <br/><hr/>
            <input type="text" name="newOrOld" th:value="${newOrOld}" hidden
                   required>
            <div class="wrap-input100 validate-input"
                 data-validate="Email is required">
                <span class="label-input100">Email</span>
                <input class="input100" type="email" name="email"
                       th:placeholder="${newOrOld=='new'?'Type your Email Here':'Please enter your registered user name '}"
                       required>
                <span class="focus-input100"></span>
            </div>

            <div class="row container"
                 style="margin-top:-30px; margin-bottom: 25px;">
                <br/>
                <span style="color: red" th:text="${message}"></span>
            </div>
            <br/>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn "></div>
                    <button class="login100-form-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" type="submit">
                        Submitt
                    </button>
                </div>
            </div>

        </form>
        <div class="modal fade" id="exampleModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Send code to your Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${successMessage}"></p>

                        <a href="/home">
                            <button class="btn btn-primary">Login</button>
                        </a>
                        <!--footer is included-->
                    </div><!-- content-wrapper end -->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>