<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Styles, meta data, and title are included-->
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<p th:text="${successMessage}"></p>
<a href="/home"><button class="btn btn-primary">Login</button></a>
<!--footer is included-->
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;Styles, meta data, and title are included&ndash;&gt;-->
<!--<head th:replace="~{fragments/header :: headerFragment}">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Check Your Email Please</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="modal" tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Modal title</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p th:text="${successMessage}"></p>-->

<!--                <a href="/home"><button class="btn btn-primary">Login</button></a>-->
<!--                &lt;!&ndash;footer is included&ndash;&gt;-->
<!--            </div>&lt;!&ndash; content-wrapper end &ndash;&gt;-->


<!--</div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer>&lt;!&ndash; footer Section &ndash;&gt;-->
<!--</div>&lt;!&ndash; wrapper end &ndash;&gt;-->
<!--<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script>&lt;!&ndash; script Fragment &ndash;&gt;-->
<!--</body>-->
<!--</html>-->
