<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<!--<body class="hold-transition sidebar-mini layout-fixed">-->
<body>
<div class="wrapper"><!-- wrapper start -->
<!--    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav>&lt;!&ndash; navbar Section &ndash;&gt;-->
<!--    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside>&lt;!&ndash; navbar Section &ndash;&gt;-->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <br/><br/><br/><br/><br/>
<p th:text="${successMessage}"></p>
<a href="/home"><button class="btn btn-primary">Login</button></a>
<!--footer is included-->
</div><!-- content-wrapper end -->
<div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
