<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbarSectionFragment" class="main-header navbar navbar-expand navbar-dark fixed-top border-0">

    <ul class="navbar-nav">

        <div class="navbar-nav" style="margin-top:-20px; margin-left: -20px;padding-right:0;padding-left:-100px; position:fixed;"><img src="../img/npic.jpg" class="img-fluid">
            <div style="position:absolute;top:30%;left:50%;transform: translate(-50%, -50%); font-size:300%; color:rgb(0,100,250);"><b>Recruitment  Division</b></div><br>
            <div style="position:absolute;top:60%;left:50%;transform: translate(-50%, -50%); font-size:200%; color:rgb(50,150,100);">Sri Lanka Police</div>


        </div>
    </ul>

</nav>
</html>