<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .main-sidebar{margin-top: -150px}

</style>
<aside th:fragment="sidebarSectionFragment" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    <a href="index.html" class="brand-link">

        <img src="/img/police.png" alt="AVSEC WMS Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Recruitment Div.</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel ">
            <li class="nav-item" id="navIcon">
<!--                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>-->
            </li>
            <!--<div class="image">
                <img src="" class="img-circle elevation-2" alt="User Image">
            </div>-->
            <div class="info">
               <h6></h6> <a><span data-th-text="${#authentication.name}"></span></a></h6>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/logout" class="nav-link active">
                                  <i class="fas fa-sign-out-alt"></i>
                                <p>Log Out</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="./logout.html" class="nav-link">
                                <i class="fas fa-key"></i>
                                <p>Password Change</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home
<!--                            <span class="right badge badge-danger">New</span>-->
                        </p>
                    </a>
                </li> <!--Dashboad-->
                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            Interview Mgt
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interviewSchedule/add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Interview Schedule</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interview" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Interview</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interview/add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Interview</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interviewBoard" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Interview Board</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/applicant" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Applicant</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interviewBoard/add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Interview Board</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interviewManage/manage" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Interview Manage</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interviewParameter" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Interview Parameter</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/interviewParameter/add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Interview Parameter</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/gazette" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Gazette</p>
                        </a>
                        </li>
                    </ul>


                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users"></i>
                                <p>
                                    General Mgt
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/district" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View District</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/agOffice" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View AG Office</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/policeStation" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Police Station</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/gramaNiladhari" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Grama Niladhari</p>
                        </a>
                        </li>
                            </ul>


                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            Employee Mgt
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/employee" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Employee</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/employee/add" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Employee</p>
                        </a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'',''ROLE_APPLICANT'')')}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            Applicant Mgt
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'',''ROLE_APPLICANT'')')}"><a href="/home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>My Account</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'',''ROLE_APPLICANT'')')}"><a href="/profile/edit" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Profile</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'',''ROLE_APPLICANT'')')}"><a href="/passwordChange" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Change Password</p>
                        </a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            System Mgt
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/user" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View User</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/role" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Role</p>
                        </a>
                        </li>
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/passwordChange" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Change Password</p>
                        </a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            Report Mgt
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_DIRECTOR'', ''ROLE_OIC'',''ROLE_CLERK'')')}"><a href="/report/gazette" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Reports</p>
                        </a>
                        </li>

                    </ul>

                </li>
            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>