<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- Form Header  Path -->
                                <!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4 >First sud Header</h4 >
                    <!--<form role="form">-->
                    <a class="btn btn-primary" href="/home" > <i class="fa fa-home" ></i > Home
                    </a >
                    <a href="/employee" class="btn btn-primary" ><i class="fa fa-list" ></i >&nbsp;
                                                                                             View List </a >

                    <!--
                                                            </form>-->
                  </div >
                </div >
              </div >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4 >Secondary Header </h4 >
                    <form id="form" class="form-horizontal"
                          data-th-action="${addStatus==true?'/employee/save':'/employee/update'}"
                          data-th-object="${employee}" method="POST" enctype="multipart/form-data" >
                      <div class="row" >
                        <!--Left Side-->
                        <table class="table table-responsive" >
                          <tr id="idStatus" data-th-if="${addStatus==false}" >
                            <th ><label class="control-label" for="id" >ID :</label >

                            </th >
                            <td >
                              <input id="id" data-th-field="*{id}" class="form-control"
                                     type="text" readonly />
                            </td >
                            <td >&nbsp;</td >
                            <th >

                            </th >
                            <td >

                            </td >

                          </tr >


                          <tr class="form-row text-right" data-th-if="${addStatus==false}" >
                            <th ><label class="control-label" for="name" >Employee code
                                                                          :</label >

                            </th >
                            <td >
                              <input id="code" data-th-field="*{code}"
                                     class="form-control" tabindex="4"
                                     type="text" required readonly />
                              <span id="codeE" data-th-errors="*{code}"
                                    data-th-if="${#fields.hasErrors('code')}"
                                    class="error" >Error Employee code
                            </span >

                            </td >
                            <td >&nbsp;</td >
                            <th >

                            </th >
                            <td >

                            </td >

                          </tr >


                          <tr >
                            <th >
                              <label class="control-label" for="title" >Title :</label >


                            </th >
                            <td ><select id="title" data-th-field="*{title}"
                                         class="form-control" tabindex="3" required >
                              <option value="" >Please select</option >
                              <option data-th-each="titles : ${title}"
                                      data-th-text="${titles.title}"
                                      data-th-value="${titles}"
                                      data-th-selected="${titles==employee.title?'selected':'unselected'}" ></option >
                            </select >

                            </td >
                            <td >&nbsp;</td >
                            <th >
                              <label class="control-label" for="civilStatus" >Civil State
                                                                              :</label >


                            </th >
                            <td >


                              <select data-th-field="*{civilStatus}" id="civilStatus"
                                      class="form-control" tabindex="11"
                                      required >
                                <option value="" >Please select</option >
                                <option data-th-each="civilStatu : ${civilStatus}"
                                        data-th-text="${civilStatu.CivilStatus}"
                                        data-th-value="${civilStatu}"
                                        data-th-selected="${civilStatu==employee.civilStatus?'selected':'unselected'}" ></option >
                              </select >
                            </td >

                          </tr >


                          <tr >
                            <th >
                              <label class="control-label" for="name" >Name :</label >


                            </th >
                            <td >
                              <input id="name" data-th-field="*{name}"
                                     class="form-control" tabindex="4" type="text"
                                     required />
                              <span id="nameError" data-th-errors="*{name}"
                                    data-th-if="${#fields.hasErrors('name')}"
                                    class="error" >Error Name</span >
                            </td >
                            <td >&nbsp;</td >
                            <th >
                              <label class="control-label" for="address" >Address :</label >


                            </th >
                            <td >
<textarea id="address" data-th-field="*{address}" class="form-control" tabindex="12"
          required ></textarea >
                              <span class="error" data-th-errors="*{address}"
                                    data-th-if="${#fields.hasErrors('address')}"
                                    id="addressError" >Error Address</span >
                            </td >

                          </tr >


                          <tr >
                            <th >
                              <label class="control-label" for="nic" >NIC No :</label >

                            </th >
                            <td >
                              <input data-th-field="*{nic}" class="form-control"
                                     tabindex="6" type="text"
                                     maxlength="12"
                                     minlength="10" required />
                              <span class="error" id="nicError" data-th-errors="*{nic}"
                                    data-th-if="${#fields.hasErrors('nic')}" >Error NIC Number</span >
                            </td >
                            <td >&nbsp;</td >
                            <th >
                              <label class="control-label" for="mobileOne" >Mobile One No


                            </th >
                            <td >
                              <input id="mobileOne" data-th-field="*{mobileOne}"
                                     class="form-control mobile" tabindex="13"
                                     type="text"
                                     maxlength="10" min="9"
                                     required />
                              <span class="error" data-th-errors="*{mobileOne}"
                                    data-th-if="${#fields.hasErrors('mobileOne')}"
                                    id="mobileOneError" >Error Mobile Number</span >
                            </td >

                          </tr >


                          <tr >


                            <th >
                              <label class="control-label" for="employeeStatus" >Employee
                                                                                 Status :</label >


                              <!--Image-->

                            </th >
                            <td >
                              <select id="employeeStatus"
                                      data-th-field="*{employeeStatus}"
                                      class="form-control" tabindex="19"
                                      required >
                                <option value="" >Please select</option >
                                <option data-th-each="employeeStatuss : ${employeeStatus}"
                                        data-th-text="${employeeStatuss.employeeStatus}"
                                        data-th-value="${employeeStatuss}"
                                        data-th-selected="${employeeStatuss==employee.employeeStatus?'selected':'unselected'}" ></option >
                              </select >
                            </td >
                            <td >&nbsp;</td >

                            <th >
                              <label class="control-label" for="mobileTwo" >Mobile Two No
                                                                            :</label >


                            </th >
                            <td >
                              <input id="mobileTwo" data-th-field="*{mobileTwo}"
                                     class="form-control mobile" tabindex="14"
                                     type="text"
                                     maxlength="10" min="9" />
                              <span class="error" data-th-errors="*{mobileTwo}"
                                    data-th-if="${#fields.hasErrors('mobileTwo')}"
                                    id="mobileTwoError" >Error Mobile Number</span >
                            </td >

                          </tr >


                          <tr >
                            <th >
                              <label class="control-label" for="dateOfBirth" >Birth date
                                                                              :</label >


                            </th >
                            <td >
                              <input id="dateOfBirth" data-th-field="*{dateOfBirth}"
                                     class="form-control" tabindex="8"
                                     placeholder="Ex: 1990 - 01 - 20"
                                     required type="date" />
                              <span id="dateOfBirthError" data-th-errors="*{dateOfBirth}"
                                    data-th-if="${#fields.hasErrors('dateOfBirth')}"
                                    class="error" >Error Birthday</span >
                            </td >
                            <td >&nbsp;</td >
                            <th >
                              <label class="control-label" for="land" >Land No :</label >


                            </th >
                            <td >
                              <input id="land" data-th-field="*{land}"
                                     class="form-control land" type="text" tabindex="15"
                                     maxlength="10"
                                     min="9" />
                              <span class="error" data-th-errors="*{land}"
                                    data-th-if="${#fields.hasErrors('land')}"
                                    id="landError" >Error Land Number</span >
                            </td >

                          </tr >
                          <tr >
                            <th >
                              <label class="control-label" for="designation" >Designation
                                                                              :</label >


                            </th >
                            <td >
                              <select id="designation" data-th-field="*{designation}"
                                      class="form-control" tabindex="10"
                                      required >
                                <option value="" >Please select</option >
                                <option data-th-each="designations : ${designation}"
                                        data-th-text="${designations.designation}"
                                        data-th-value="${designations}"
                                        data-th-selected="${designations==employee.designation?'selected':'unselected'}" ></option >
                              </select >
                            </td >
                            <td >&nbsp;</td >
                            <th >
                              <label class="control-label" for="officeEmail" >Office Email
                                                                              :</label >


                            </th >
                            <td >
                              <input id="officeEmail" data-th-field="*{officeEmail}"
                                     class="form-control" tabindex="17"
                                     type="email" required />
                              <span class="error" data-th-errors="*{officeEmail}"
                                    data-th-if="${#fields.hasErrors('officeEmail')}"
                                    id="officeEmailError" >Error Office Email</span >
                            </td >

                          </tr >
                          <tr >

                            <th >
                              <label class="control-label" for="gender" >Gender :</label >

                            </th >
                            <th >
                              <div class="form-group" >
                                <!--Radio button-->
                                <div class="col" >
                                  <div class="custom-control custom-checkbox custom-control-inline "
                                       data-th-each="genders,index : ${gender}" >
                                    <input class="custom-control-input gender" tabindex="-1" required
                                           data-th-name="${'gender'}"
                                           data-th-value="${genders}"
                                           data-th-id="${index.index}+${genders}"
                                           type="radio"
                                           data-th-checked="${genders==gender}" />
                                    <label class="custom-control-label" tabindex="-1"
                                           data-th-for="${index.index}+${genders}"
                                           data-th-text="${genders.gender}" > radio
                                    </label >
                                  </div >
                                </div >
                              </div >
                            </th >


                            <td >&nbsp;</td >
                            <th >
                              <div class="form-row text-right" >
                                <div class="form-row " >
                                  <div class="col-md-3 mr-5" >
                                    <label class="control-label" >Image</label >
                                    <input type="file" name="file" id="imgUpload"
                                           accept="image/png, image/jpeg" />
                                  </div >
                                  <div class="col-md-3" ></div >
                                  <div class="col-md-3 ml-5" >
                                    <!--photo details-->
                                    <img class="img-fluid ml-5"
                                         data-th-if="${addStatus==false && file!=null}"
                                         data-th-src="${file.url}"
                                         id="image" alt=""
                                         style="height: 100px; width: 100%;" >
                                    <img class="img-fluid ml-5"
                                         data-th-if="${addStatus==true}" src="" id="image"
                                         alt=""
                                         style="height: 100px; width: 100%" >
                                  </div >
                                </div >
                              </div >
                              <!--Created by and created at-->
                              <div id="updateStatus" data-th-if="${addStatus==false}" >
                                <div class="form-row text-right" >
                                  <div class="col-md-4" >
                                    <label class="control-label" for="createdBy" >Created By
                                                                                  :</label >
                                  </div >
                                  <div class="col-md-8" >
                                    <input id="createdBy" data-th-field="*{createdBy}"
                                           class="form-control" type="text"
                                           readonly />
                                  </div >
                                </div >
                                <div class="form-row text-right" >
                                  <div class="col-md-4" >
                                    <label class="control-label" for="createdAt" >Created At
                                                                                  :</label >
                                  </div >
                                  <div class="col-md-8" >
                                    <input id="createdAt" data-th-text="${{createdAt}}"
                                           class="form-control" type="text"
                                           readonly />
                                  </div >
                                </div >
                              </div >
                            </th >
                            <td >

                            </td >

                          </tr >
                        </table >
                        <div class="form-group col-md-12 col-sm-12 text-left flex-column " >
                          <!--Button-->
                          <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
                            <button class="btn btn-success" type="submit" tabindex="21" >
                              <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;
                                                                                   &nbsp;<span id="submit"
                                                                                               data-th-text="${addStatus==true?'Save': 'Update'}" ></span >
                            </button >
                            <button class="btn btn-danger" type="reset" >
                              <i class="fa fa-redo" ></i > <span id="reset" >Reset</span >
                            </button >
                          </div >
                        </div >

                        <div class="form-row" >
                          <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}"
                                 data-th-text="'Errors: '" >Errors: </label >
                          <ul >
                            <li id="error" data-th-each="err : ${#fields.errors('*')}"
                                data-th-text="${err}" class="error" ></li >
                          </ul >
                        </div >
                      </div >
                    </form >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div ><!-- content-wrapper end -->


  </div ><!-- content-wrapper end -->
  <div th:replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
<script >
    $(document).ready(function () {
        imageSrcAttributeCheck();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    //display selected image
    $("#imgUpload").change(function () {
        $("#image").toggle('show');
        readURL(this);

    });

    //image is not -> showing area hide
    function imageSrcAttributeCheck() {
        let attribute = $("#image").attr("src");
        if (attribute === '') {
            $("#image").toggle('hide');
        }
    }
</script >

</body >
</html >