<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <!--                                        <h4>First sud Header</h4>-->
                                    <form role="form">
                                        <div align="right">
                                            <a class="btn btn-success" id="newDistrict" th:href="${'/employee/add'}">
                                                <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Add
                                                Applicant </a>
                                            <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                                                <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to
                                                Home </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <table class="table table-borderless table-hover ">


                                            <tr>
                                                <td> <label class="control-label" for="code">Employee Code :</label></td>
                                                <td><p id="code" th:text="${employeeDetail.code}"
                                                       class="display_detail"></p>
                                            </tr>

                                            <tr>
                                                <td> <label class="control-label" for="title">Title :</label></td>
                                                <td><p id="title" th:text="${employeeDetail.title}"
                                                       class="display_detail"></p>
                                            </tr>


                                            <tr>
                                                <td> <label class="control-label" for="name">Employee Name :</label></td>
                                                <td><p id="name" th:text="${employeeDetail.name}"
                                                       class="display_detail"></p>
                                            </tr>

                                            <tr>
                                                <td> <label class="control-label" for="designation">Designation :</label></td>
                                                <td><p id="designation" th:text="${employeeDetail.designation}"
                                                       class="display_detail"></p>
                                            </tr>

                                            <tr>
                                                <td> <label class="control-label" for="employeeStatus">Employee Status :</label></td>
                                                <td><p id="employeeStatus" th:text="${employeeDetail.employeeStatus}"
                                                       class="display_detail"></p>
                                            </tr>

                                            <tr>
                                                <td> <label class="control-label" for="gender">Gender :</label></td>
                                                <td><p id="gender" th:text="${employeeDetail.gender}"
                                                       class="display_detail"></p>
                                            </tr>



                                            <tr>
                                                <td> <label class="control-label" for="nic">NIC :</label></td>
                                                <td><p id="nic" th:text="${employeeDetail.nic}"
                                                       class="display_detail"></p>
                                            </tr>

                                            <tr>
                                                <td> <label class="control-label" for="dateOfBirth">Date of Birth :</label></td>
                                                <td><p id="dateOfBirth" th:text="${employeeDetail.dateOfBirth}"
                                                       class="display_detail"></p>
                                            </tr>


                                            <tr>
                                                <td> <label class="control-label" for="mobileOne">Mobile No 1 :</label></td>
                                                <td><p id="mobileOne" th:text="${employeeDetail.mobileOne}"
                                                       class="display_detail"></p>
                                            </tr>


                                            <tr>
                                                <td> <label class="control-label" for="mobileTwo">Mobile No 2 :</label></td>
                                                <td><p id="mobileTwo" th:text="${employeeDetail.mobileTwo}"
                                                       class="display_detail"></p>
                                            </tr>


                                            <tr>
                                                <td> <label class="control-label" for="land">Land No :</label></td>
                                                <td><p id="land" th:text="${employeeDetail.land}"
                                                       class="display_detail"></p>
                                            </tr>


                                            <tr>
                                                <td> <label class="control-label" for="officeEmail">Office Email :</label></td>
                                                <td><p id="officeEmail" th:text="${employeeDetail.officeEmail}"
                                                       class="display_detail"></p>
                                            </tr>


                                            <tr>
                                                <td> <label class="control-label" for="address">Address :</label></td>
                                                <td><p id="address" th:text="${employeeDetail.address}"
                                                       class="display_detail"></p>
                                            </tr>



                                            <tr>
                                                <td> <label class="control-label" for="civilStatus">Civil Status :</label></td>
                                                <td><p id="civilStatus" th:text="${employeeDetail.civilStatus}"
                                                       class="display_detail"></p>
                                            </tr>







                                        </table>



                                    </div>


                                    <!--images-->
                                    <div class="col-md-6">
                                        <div class="col" id="photoDetails">
                                            <div>
                                                <label class="control-label ">Photo Details : </label>
                                            </div>
                                            <div class="row">
                                                <div class="col" id="filesList" th:each="file, rowStat: ${files}">
                                                    <div class="col">


                                                        <img id="img" height="150px" width="150px" class="rounded"
                                                             style="height: 150px; width: 150px; border-radius: 10px"
                                                             alt="Employee images"
                                                             th:src="${file.url}"/>
                                                    </div>
                                                    <div class="control-label ">
                                                        <p id="imgName" th:text="${file.filename}"></p>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>