<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">





                        <div class="card-group" style="margin-top:150px">

                            <div class="card" style="border-radius:50%; background-color: #0d47a1; margin-left: 50px" >
                                <img class="card-img-top">
                                <div class="card-body" style="height: 300px">
                                </div>
                            </div>
                            <div class="card" style="border-radius:50%; background-color: #0d47a1; margin-left: 50px" >
                                <img class="card-img-top">
                                <div class="card-body" style="height: 300px">
                                </div>
                            </div>
                        </div>
                        <div class="card-group" style="margin-top:10px">

                            <div class="card" style="border-radius:50%; background-color: #0d47a1; margin-left: 50px" >
                                <img class="card-img-top">
                                <div class="card-body" style="height: 300px">
                                </div>
                            </div>
                            <div class="card" style="border-radius:50%; background-color: #0d47a1; margin-left: 50px" >
                                <img class="card-img-top">
                                <div class="card-body" style="height: 300px">
                                </div>
                            </div>
                        </div>




                    </div></div></div></div></div>
        </div>
    </div><!-- content-wrapper end -->
    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->

</body>
</html>