<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->



        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <a class="btn btn-success" id="newDependency" data-th-href="${'/dependency/add'}">
                                                <i class="fa fa-dependency-plus" style="font-size: 18px;"></i> &nbsp; Add Dependency </a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body table-responsive" id="dependencyListTable" data-th-if="${not #lists.isEmpty(dependencys)}">
                                        <h4>Secondary Header </h4>
                                    <!--if not empty list-->
                                    <table class="table table-hover table-striped" id="myTable">
                                            <thead class="thead-inverse">
                                            <tr>
                                                <th>Index</th>
                                                <th>Name</th>
                                                <th>Relationship</th>
                                                <th>Date of Birth</th>
                                                <th>NIC No</th>
                                                <th>Current Status</th>
                                                <th>Remark</th>
                                                <th>Modify</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="dependency, rowCount : ${dependencys}" scope="row">
                                                <td data-th-text="${rowCount.count}"></td>
                                                <td data-th-text="${dependency.name}"></td>
                                                <td data-th-text="${dependency.relationship.relationship}"></td>
                                                <td data-th-text="${dependency.dob}"></td>
                                                <td data-th-text="${dependency.nic}"></td>
                                                <td data-th-text="${dependency.currentStatus}"></td>
                                                <td data-th-text="${dependency.remark}"></td>
                                                <td><a class="btn btn-success btn-sm" data-th-href="${'/dependency/' + dependency.id}" id="dependencyView"><i
                                                        class="fa fa-folder-open"></i>&nbsp;View</a>
                                                    <a class="btn btn-primary btn-sm" id="dependencyEdit"
                                                       data-th-href="${'/dependency/edit/' + dependency.id}"><i
                                                            class="fa fa-edit"></i>&nbsp;Edit</a>
                                                    <a class="btn btn-danger btn-sm" id="dependencyRemove"
                                                       data-th-href="${'/dependency/remove/' + dependency.id}"
                                                       data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       data-th-onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                                    ><i
                                                            aria-hidden="true" class="fa fa-trash"></i>
                                                        Delete</a>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--if empty list-->
                                        <div id="dependencyNotList" data-th-if="${ #lists.isEmpty(dependencys)}">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h3 class="text-center text-danger">
                                                    <strong>There is no dependency upto know please add dependency to the system
                                                        using add dependency button.
                                                    </strong>
                                                </h3>
                                            </div>
                                        </div>
                                        <!--Show saved dependency-->
                                        <div data-th-if="${dependencyDetail!=null}">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <div class="container">
                                                    <div data-th-replace="~{dependency/dependency-detail :: dependencyDetail}"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</div><!-- content-wrapper end -->
<footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>