<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
    <div ><br /><br /></div >
    <div class="col-md-12" >
      <div class="card" >
        <div class="card-body" >
          <!--                                        <h4>First sud Header</h4>-->
          <form role="form" >
            <div align="right" >
              <a class="btn btn-success" id="newDistrict" th:href="${'/employee/add'}" >
                <i class="far fa-building" style="font-size: 18px;" ></i > &nbsp; Add Applicant </a >
              <a class="btn btn-info" id="newDistrict" th:href="${'/home'}" >
                <i class="far fa-building" style="font-size: 18px;" ></i > &nbsp; Back to Home </a >
            </div >
          </form >
        </div >
      </div >
    </div >

    <div class="container-fluid" ><h3 >
      Interview Schedule</h3 >
    </div >
    <div class="container-fluid" >

      <div class="container" >
        <form action="/interviewSchedule" method="post" >
          <input type="text" hidden name="id" data-th-value="${gazette.id}" >
          <div class="container" >
            <div class="form-row">
              <div class="col-6">
            <div class="col-12" >
              Total Applicant Count = <span data-th-text="${totalApplicantCount}" id="totalApplicantCount" ></span >
            </div >
            <div class="col-12 mt-2" >
              Interview Number 
                <select class="form-control" name="interviewNumber" >
                  <option value="" >Please select</option >
                  <option data-th-each="interviewBoardNumber : ${interviewBoardNumbers}"
                          data-th-value="${interviewBoardNumber}"
                          data-th-text="${interviewBoardNumber.applicantGazetteStatus}" ></option >
                </select >
            </div >
            </div>
            <div class="col-6" >Message
                <textarea name="massage" id="message" class="form-control" cols="30" rows="10"></textarea>
              </div >
            </div >
        </div>
          <table class="table table-striped table-inverse table-responsive" id="interviewSchedule" >
            <thead class="thead-inverse" >
            <tr >
              <th >Date</th >
              <th >Interview Board Name</th >
              <th >Applicant Count</th >
              <th >Remaining Count</th >
              <th >Modify</th >
            </tr >
            </thead >
            <tbody >
            <tr >
              <td ><input type="date" class="form-control" name="interviewScheduleLists[0].date" ></td >
              <td >
                <select class="form-control" name="interviewScheduleLists[0].interviewBoardId" >
                  <option value="" >Please select</option >
                  <option data-th-each="interviewBoardOne : ${interviewBoard}"
                          data-th-value="${interviewBoardOne.id}"
                          data-th-text="${interviewBoardOne.name}" ></option >
                </select >
              </td >
              <td ><input type="number" id="co0" onkeyup="countFind(this)" class="form-control count"
                          name="interviewScheduleLists[0].count" ></td >
              <td ><input type="text" class="form-control" id="rm0" value="" readonly ></td >
              <td >
                <button type="button" onclick="removeScheduleInterview(this)" class="btn btn-danger" >Remove
                </button >
              </td >
            </tr >
            </tbody >
          </table >
          <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
            <button class="btn btn-info mr-5" type="button" id="newSchedule" >New Schedule</button >
            <button class="btn btn-warning mr-5"
                    type="reset" >
              Clear
            </button >
            <button class="btn btn-success" type="submit" >
              <span data-th-text="${'Save'}" ></span >
            </button >
          </div >
        </form >
      </div >
    </div >
  </div >
</div >
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div >
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div >

<script >
$(document).ready(function(){
    $('[type="date"]').prop('min', function () {
        return new Date().toJSON().split('T')[0];
    });
})

    $("#newSchedule").bind("click", function () {
        let rowLength = $('#interviewSchedule tbody > tr').length;
        let html = `<tr>
           <td scope="row"><input type="date" class="form-control" name="interviewScheduleLists[${rowLength}].date"></td>
           <td>
           <select class="form-control" name="interviewScheduleLists[${rowLength}].interviewBoardId">
            <option value="" >Please select</option >
            <option data-th-each="interviewBordOne : ${'${interviewBoard}" data-th-value="${interviewBordOne.id}"  data-th-text="${interviewBordOne.name}"'}></option >
          </select >
           </td>
           <td><input type="text" id="co${rowLength}" onkeyup="countFind(this)" class="form-control count" name="interviewScheduleLists[${rowLength}].count"></td>
           <td><input type="number" class="form-control count" value="" id="rm${rowLength}" readonly></td>
           <td> <button type="button" onclick="removeScheduleInterview(this)" class="btn btn-danger">Remove</button></td>
          </tr>`
        $('#interviewSchedule > tbody:last-child').append(html);
    });

    function removeScheduleInterview(obj) {
        document.getElementById("interviewSchedule").deleteRow(obj.parentNode.parentNode.rowIndex);
    }

    function countFind(obj) {
        let selectedFiledId = obj.getAttribute('id').slice(2);
        let totalCount = 0;
        let countArray = document.getElementsByClassName("count");
        for (let i = 0; i < countArray.length; i++) {
            // console.log(countArray[i].value + " sdsdasdsada")
            totalCount += parseInt(countArray[i].value)
        }

        console.log(totalCount)
        let remainCount = parseInt(document.getElementById("totalApplicantCount").innerHTML) - totalCount;

        console.log(remainCount)
        if (remainCount >= 0) {
            $(`#rm${selectedFiledId}`).val(remainCount);
        } else {
            swal({
                title: "Please count again",
                icon: "warning",
                text: "There is no more applicant to create new interview ",
            });
            $(`#rm${selectedFiledId}`).val(0);
        }
    }
</script >

</body >
</html >
