<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
  <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
  <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
  <div class="content-wrapper"><!-- content-wrapper Start -->
    <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
    <!--        &lt;!&ndash; Form Header  Path &ndash;&gt;-->
    <!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <!--                                        <h4>First sud Header</h4>-->
                    <form role="form">
                      <div align="right">
                       
                        <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                          <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                  <h4>Printing Documents</h4>
                </div>
                  <div class="card-body">

<div class="container-fluid" >
  <div class="col" >
    <div class="col" id="authorListPresent" data-th-if="${not #lists.isEmpty(gazettes)}" >
      <table class="table table-hover table-striped" id="myTable" >
        <thead >
        <tr >
          <th > Index</th >
          <th > Name</th >
          <th > Request Maximum Age</th >
          <th > Status</th >
          <th > Modify</th >
        </tr >
        </thead >
        <tbody >
        <tr data-th-each="gazette, rowCount : ${gazettes}" >
          <th data-th-text="${rowCount.count}" ></th >
          <th data-th-text="${gazette.name}" ></th >
          <th data-th-text="${gazette.age}" ></th >
          <th data-th-text="${gazette.gazetteStatus.gazetteStatus}" ></th >
          <th >
            <a data-th-href="${'/interviewManage/firstInterview/' + gazette.id}"
               class="btn btn-primary btn-sm" ><i class="fa fa-edit" ></i >&nbsp;First Interview</a >

            <a data-th-href="${'/interviewManage/cidcrdsis/' + gazette.id}"
               class="btn btn-primary btn-sm" ><i class="fa fa-edit" ></i >&nbsp;CID / CRD / SIS Manage</a >

            <a data-th-href="${'/interviewManage/secondInterview/' + gazette.id}"
               class="btn btn-primary btn-sm" ><i class="fa fa-edit" ></i >&nbsp;Second Interview</a >

            <a data-th-href="${'/interviewManage/thirdInterview/' + gazette.id}"
               class="btn btn-primary btn-sm" ><i class="fa fa-edit" ></i >&nbsp;Third Interview</a >

            <a data-th-href="${'/interviewManage/fourthInterview/' + gazette.id}"
               class="btn btn-primary btn-sm" ><i class="fa fa-edit" ></i >&nbsp;Fourth Interview</a >
          </th >
        </tr >
        </tbody >
      </table >
    </div >
  </div >
  <div class="row" data-th-if="${ #lists.isEmpty(gazettes)}" >
    <div class="col-sm-12" >
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true" >&times;</span >
        </button >
        <h3 class="text-center text-danger" >
          <strong >There is no gazette qualified to go mange interview .
          </strong >
        </h3 >
      </div >
    </div >
  </div >
</div>
                  </div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div><!-- content-wrapper end -->
<div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>