<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
  <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
  <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
  <div class="content-wrapper"><!-- content-wrapper Start -->
    <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
    <!--        &lt;!&ndash; Form Header  Path &ndash;&gt;-->
    <!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <!--                                        <h4>First sud Header</h4>-->
                    <form role="form">
                      <div align="right">
                        <a class="btn btn-success" id="newDistrict" th:href="${'/interviewManage/manage'}">
                          <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Printing Documents </a>
                        <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                          <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header"><h4>Vetting Reports from Other Agencies</h4></div>
                  <div class="card-body">
<div class="container-fluid form-row" >
  <div class="col" >
    <a data-th-href="${'/interviewManage/'+uriCID}" >
      <button type="button" class="btn btn-info" data-th-text="${btnTextCID}" ></button >
    </a >
    <form data-th-action="${'/interviewManage/'+formAction}" method="post" enctype="multipart/form-data" >
      <input type="hidden" name="internalDivision" data-th-value="${internalDivisionCID}" required />
      <input type="hidden" name="gazetteId" data-th-value="${gazetteId}" required />
      <label > Please Select Result Enter File :
        <input type="file" name="multipartFile" accept=".csv, .xls, .xlsx, text/csv, application/csv,
text/comma-separated-values, application/csv, application/excel,
application/vnd.msexcel, text/anytext, application/vnd. ms-excel,
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required />
      </label >

      <button type="submit" class="btn btn-primary" >Save Result</button >
      <button type="reset" class="btn btn-warning" >Clear</button >
    </form >
  </div >
  <div class="col" >
    <a data-th-href="${'/interviewManage/'+uriSIS}" >
      <button type="button" class="btn btn-info" data-th-text="${btnTextSIS}" ></button >
    </a >
    <form data-th-action="${'/interviewManage/'+formAction}" method="post" enctype="multipart/form-data" >
      <input type="hidden" name="internalDivision" data-th-value="${internalDivisionSIS}" required />
      <input type="hidden" name="gazetteId" data-th-value="${gazetteId}" required />
      <label > Please Select Result Enter File :
        <input type="file" name="multipartFile" accept=".csv, .xls, .xlsx, text/csv, application/csv,
text/comma-separated-values, application/csv, application/excel,
application/vnd.msexcel, text/anytext, application/vnd. ms-excel,
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required />
      </label >
      <button type="submit" class="btn btn-primary" >Save Result</button >
      <button type="reset" class="btn btn-warning" >Clear</button >
    </form >
  </div >
  <div class="col" >
    <a data-th-href="${'/interviewManage/'+uriCRD}" >
      <button type="button" class="btn btn-info" data-th-text="${btnTextCRD}" ></button >
    </a >
    <form data-th-action="${'/interviewManage/'+formAction}" method="post" enctype="multipart/form-data" >
      <input type="hidden" name="internalDivision" data-th-value="${internalDivisionCRD}" required />
      <input type="hidden" name="gazetteId" data-th-value="${gazetteId}" required />
      <label > Please Select Result Enter File :
        <input type="file" name="multipartFile" accept=".csv, .xls, .xlsx, text/csv, application/csv,
text/comma-separated-values, application/csv, application/excel,
application/vnd.msexcel, text/anytext, application/vnd. ms-excel,
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required />
      </label >
      <button type="submit" class="btn btn-primary" >Save Result</button >
      <button type="reset" class="btn btn-warning" >Clear</button >
    </form >
  </div >
</div >

<div class="container-fluid" >
  <table class="table  table-hover " id="myTable" data-th-if="${not #lists.isEmpty(applicantGazettes)}" >
    <thead >
    <tr >
      <th > Index</th >
      <th > Code</th >
      <th > Name</th >
      <th > Rank</th >
      <th > Police Station</th >
      <th >Current Status</th >
    </tr >
    </thead >
    <tbody >
    <tr data-th-each="applicantGazette, rowCount : ${applicantGazettes}" >
      <td data-th-text="${rowCount.count}" ></td >
      <td data-th-text="${applicantGazette.code}" ></td >
      <td data-th-text="${applicantGazette.applicant.nameWithInitial}" ></td >
      <td data-th-text="${applicantGazette.applyingRank.applyingRank}" ></td >
      <td data-th-text="${applicantGazette.applicant.gramaNiladhari.policeStation.name}" ></td >
      <td data-th-text="${applicantGazette.applicantGazetteStatus.applicantGazetteStatus}" ></td >
    </tr >
  </table >

</div >

<div class="alert alert-warning alert-dismissible fade show" role="alert"
     data-th-if="${not #strings.isEmpty(message)}" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
    <span aria-hidden="true" >&times;</span >
  </button >
  <strong >
    <span data-th-text="${message}" ></span >
  </strong >
</div >

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div><!-- content-wrapper end -->
<div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
