<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
  <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
  <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
  <div class="content-wrapper"><!-- content-wrapper Start -->
    <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>

<div></div>
<div class="container" >
  <p >All Active Schedule Interview </p >
</div >
<div class="container" >
  <table class="table table-striped table-inverse table-responsive" id="myTable" >
    <thead class="thead-inverse" >
    <tr >
      <th >Index</th >
      <th >Date</th >
      <th >Interview Board Name</th >
      <th >Applicant Name</th >
      <th >Modify</th >
    </tr >
    </thead >
    <tbody >
    <tr data-th-each="applicantGazetteInterview, index : ${applicantInterviews}" >
      <td data-th-text="${index.count}" ></td >
      <td data-th-text="${{applicantGazetteInterview.date}}" ></td >
      <td data-th-text="${applicantGazetteInterview.interviewBoard.name}" ></td >
      <td data-th-text="${applicantGazetteInterview.applicant.name}" ></td >
      <td ><a data-th-href="${'/interviewSchedule/deactivate/'+applicantGazetteInterview.id}" >
        <button type="button" class="btn btn-danger" >Deactivate</button >
      </a ></td >
    </tr >
    </tbody >
  </table >
</div >

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous" ></script >
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous" ></script >
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous" ></script >
</body >
</html >
