<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!--        &lt;!&ndash; Form Header  Path &ndash;&gt;-->
        <!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <!--                                        <h4>First sud Header</h4>-->
                                        <form role="form">
                                            <div align="right">
                                                <a class="btn btn-success" id="newDistrict" th:href="${'/role'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; View Role </a>
                                                <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4><span id="formHeader" th:text="${addStatus==true?'New Role ':'Update Role'}"></span></h4>
                                        <form id="form" class="form-horizontal" method="POST" th:action="${addStatus==true?'/role/add':'/role/update'}"
                                              th:object="${role}">

                                            <div id="idHide" th:if="${addStatus==false}" class="form-row text-right">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <label class="control-label" for="id">ID :</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input class="form-control" th:field="*{id}"  id="id" type="text" readonly/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="control-label" for="roleName">Name :</label>
                                            </div>
                                            <div class="col-md-8">

                                                <input id="roleName" th:field="*{roleName}" class="form-control" type="text" required/>
                                                <span id="roleNameError" th:errors="*{roleName}" th:if="${#fields.hasErrors('roleName')}" class="error">Error Role Name</span>

                                            </div>


                                            <div class="form-group">
                                                <button class="btn btn-success" type="submit">
                                                    <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                                                        id="submit" th:text="${addStatus==true?'Save': 'Update'}">                        </span>
                                                </button>
                                                <div class="form-row">
                                                    <label id="errorLabel" th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                                                    <ul>
                                                        <li id="errorDisplay" th:each="err: ${#fields.errors('*')}" th:utext="${err}" class="error"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Error-->

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>

