<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!--        &lt;!&ndash; Form Header  Path &ndash;&gt;-->
        <!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <!--                                        <h4>First sud Header</h4>-->
                                        <form role="form">
                                            <div align="right">
                                                <a class="btn btn-success" id="newDistrict" th:href="${'/role/add'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Add Role </a>
                                                <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body"  id="roleListPresent" th:if="${not #lists.isEmpty(roles)}">
            <h4>Role</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th> Index</th>
                            <th> Name</th>
                            <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> Modify</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="role, rowCount : ${roles}">
                            <th th:text="${rowCount.count}"></th>
                            <th th:text="${role.roleName}"></th>
                            <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                <a id="edit" th:href="${'/role/edit/' + role.id}" class="btn btn-primary btn-sm mr-2 p-2">Edit
                                </a>
                                &nbsp;
                                <a id="remove" th:href="${'/role/remove/' + role.id}" class="btn btn-danger btn-sm mr-2 p-2"
                                   onclick="if
                        (!(confirm('Are you sure you want to delete this role?'))) return false"
                                >Delete</a></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        </div><!-- content-wrapper end -->
                        <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
                    </div><!-- wrapper end -->
                    <div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>