<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <span id="formHeader"
                                                  th:text="${addStatus==false?'New Non Relative':'Update Non Relative'}"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <form th:action="${addStatus==false?'/nonRelative/save' :'/nonRelative/update'}"
                                              method="post" th:object="${applicant}">
                                            <!--/* id this comment not visualize */-->
                                            <div>
                                                <h2>Non Relative Details One</h2>
                                                <!--ID -->
                                                <div class="form-row p-3" id="idStatus"
                                                     th:if="${addStatus==true}">
                                                    <label class="control-label col-md-3" for="id">ID </label>
                                                    <input class="form-control col-md-7" id="id" readonly
                                                           th:name="${'nonRelatives[0].id'}"
                                                           type="text"/>
                                                </div>
                                                <!--Name-->
                                                <div class="form-row p-3">
                                                    <label class="control-label col-md-3"
                                                           for="gramaniladhari">Name</label>
                                                    <input class="form-control col-md-7" id="gramaniladhari"
                                                           th:name="${'nonRelatives[0].name'}" required
                                                           tabindex="16" type="text"/>
                                                </div>
                                                <!--Address-->
                                                <div class="form-group">
                                                    <label class="control-label" for="address">Address :</label>
                                                    <textarea id="address" th:name="${'nonRelatives[0].address'}"
                                                              class="form-control" tabindex="12"
                                                              required></textarea>

                                                </div>
                                                <!--Mobile Number One-->
                                                <div class="form-group">
                                                    <label class="control-label" for="mobile">Mobile One No
                                                        :</label>
                                                    <input id="mobile" th:name="${'nonRelatives[0].mobile'}"
                                                           class="form-control mobile" tabindex="13"
                                                           type="text"
                                                           maxlength="10" min="9" required/>
                                                </div>
                                                <!--Land Number-->
                                                <div class="form-group">

                                                    <label class="control-label" for="land">Land No :</label>
                                                    <input id="land" th:name="${'nonRelatives[0].land'}"
                                                           class="form-control land"
                                                           type="text" tabindex="15"
                                                           maxlength="10"
                                                           min="9"/>
                                                </div>
                                            </div>
                                            <div>
                                                <h2>Non Relative Details Two</h2>
                                                <!--Second non relative-->
                                                <!--ID -->
                                                <div class="form-row p-3" id="idStatusTwo"
                                                     th:if="${addStatus==true}">
                                                    <label class="control-label col-md-3" for="idTwo">ID </label>
                                                    <input class="form-control col-md-7" id="idTwo" readonly
                                                           th:name="${'nonRelatives[1].id'}"
                                                           type="text"/>
                                                </div>
                                                <!--Name-->
                                                <div class="form-row p-3">
                                                    <label class="control-label col-md-3"
                                                           for="gramaniladhariTwo">Name</label>
                                                    <input class="form-control col-md-7" id="gramaniladhariTwo"
                                                           th:name="${'nonRelatives[1].name'}" required
                                                           tabindex="16" type="text"/>
                                                </div>
                                                <!--Address-->
                                                <div class="form-group">
                                                    <label class="control-label" for="addressTwo">Address :</label>
                                                    <textarea id="addressTwo" th:name="${'nonRelatives[0].address'}"
                                                              class="form-control" tabindex="12"
                                                              required></textarea>

                                                </div>
                                                <!--Mobile Number One-->
                                                <div class="form-group">
                                                    <label class="control-label" for="mobileTwo">Mobile One No
                                                        :</label>
                                                    <input id="mobileTwo" th:name="${'nonRelatives[1].mobile'}"
                                                           class="form-control mobile" tabindex="13"
                                                           type="text"
                                                           maxlength="10" min="9" required/>
                                                </div>
                                                <!--Land Number-->
                                                <div class="form-group">

                                                    <label class="control-label" for="landTwo">Land No :</label>
                                                    <input id="landTwo" th:name="${'nonRelatives[1].land'}"
                                                           class="form-control land"
                                                           type="text" tabindex="15"
                                                           maxlength="10"
                                                           min="9"/>
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <br>
                                                <button class="btn btn-primary" type="submit">
                                                    <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                                    <span
                                                            th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
<script>
    $(document).ready(function () {

        $('#province').bind("change", function () {
            provinceChange($(this).val());
        });
        $('#district').bind("change", function () {
            districtChange($(this).val());
        });
        $('#agOffice').bind("change", function () {
            agOfficeChange($(this).val());
        });

        let optionFieldAdd = (url, id) => {
            let html = "<option value=''>Please select</option>";
            $.get(url, function (data) {
                data.forEach((item) => {
                        html += `<option value="${item.id}">${item.name} </option>`
                    }
                )
                $(`#${id}`).html(html);
            });
        };

        function provinceChange(id) {
            let url = "[[${districtURL}]]" + id;
            optionFieldAdd(url, "district");
            $('#district').html(`<option value="">Please Select </option>`);
            $('#agOffice').html(`<option value="">Please Select </option>`);
            $('#policeStation').html(`<option value="">Please Select </option>`);
        }

        function districtChange(id) {
            let url = "[[${agOfficeURL}]]" + id;
            optionFieldAdd(url, "agOffice");
            $('#agOffice').html(`<option value="">Please Select </option>`);
            $('#policeStation').html(`<option value="">Please Select </option>`);
        }

        function agOfficeChange(id) {
            let url = "[[${policeStationURL}]]" + id;
            optionFieldAdd(url, "policeStation");
            $('#policeStation').html(`<option value="">Please Select </option>`);
        }

    });
</script>
</body>
</html>