<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
<!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
<!--                                        <h4>First sud Header</h4>-->
                                        <form role="form">
                                            <div align="right">
                                                <a class="btn btn-success" id="newDistrict" th:href="${'/gramaNiladhari'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> GramaNiladhari List</a>
                                                <a class="btn btn-info" id="newDistrict" th:href="${'/home'}">
                                                    <i class="far fa-building" style="font-size: 18px;"></i> &nbsp; Back to Home </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>GramaNiladhari View</h4>
                                    <div class="container-fluid" th:fragment="districtDetail">

                                        <!--/* id this comment not visualize */-->
                                        <!--Id-->

                                           <div>
                                            <label class="control-label col-md-3">ID </label>
                                            <p class="display_detail" th:text="${gramaNiladhariDetail.id}"></p>

                                        </div>
                                        <!--Province-->
                                        <div class=" form-row  p-3">
                                            <label class="form-label  col-md-3" > Province </label>

                                            <p class="display_detail"
                                               th:text="${gramaNiladhariDetail.policeStation.agOffice.district.province.province}"></p>
                                        </div>
                                        <!--District-->
                                        <div class=" form-row p-3">
                                            <label class="form-label col-md-3 " >
                                                District </label>
                                            <p class="display_detail"
                                               th:text="${gramaNiladhariDetail.policeStation.agOffice.district.name}"></p>
                                        </div>
                                        <!--AgOffice-->
                                        <div class=" form-row p-3">
                                            <label class="form-label col-md-3 "> Ag
                                                Office </label>

                                            <p class="display_detail"
                                               th:text="${gramaNiladhariDetail.policeStation.agOffice.name}"></p>
                                        </div>
                                        <!--Police-->
                                        <div class=" form-row p-3">
                                            <label class="col-md-3 form-label"> Police Station </label>
                                            <p class="display_detail"
                                               th:text="${gramaNiladhariDetail.policeStation.name}"></p>
                                        </div>
                                        <!--GramaNiladhariDivision-->
                                        <div class="form-row p-3">

                                            <label class="control-label col-md-3" >Grama
                                                Niladhari Division</label>
                                            <p class="display_detail"
                                               th:text="${gramaNiladhariDetail.name}"></p>

                                        </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
    </div>
</div>
</body>
</html>